.home-title{
    text-align: center;
    align-items: center;
    height: 100vh;
}
.home-title img{
    width: 55px;
    transform: rotate(0deg);
    transition: 0.2s ease;
    cursor: pointer;
}
.home-title img:hover{
    transform: rotate(20deg);
    transform-style: preserve-3d;
}

.home-title h1{
    letter-spacing: 1.2px;
    font-size: 4rem;
}
.home-title span:hover{
    color: #adc3d0 ;
    font-weight: 200;
    text-shadow: 5px 5px 15px black;
}
.home-title span{
    transition: 0.2s ease;
    cursor: pointer;
}
.home-title h2{
    color: #adc3d0;
    letter-spacing: 0.3rem;
    font-weight: 400;
    margin-top: 0;
}
.flat-button{
    border:3px solid #072437;
    color:#072437;
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 20px;
    letter-spacing: .3rem;
    position: absolute;
    left: 47%;
    transition: 0.3s ease;
    border-radius: 10px;
    top: 500px;
}
.flat-button:hover{
    background-color: #adc3d0;
    color: #072437;
    border: 3px solid #072437;
}
/* small screens */
@media only screen and (max-width: 800px) {
    .home-title h1{
        letter-spacing: 1.2px;
        font-size: 3rem;
    }
    .flat-button{
        top: 450px;
        left: 35%;
    }
}
/* large screens */
@media only screen and (min-width: 800px) {
    
}
/* small screens */
@media only screen and (max-width: 550px) {
    .flat-button{
        top: 500px;
        left: 28%;
    }
}
/* large screens */
@media only screen and (min-width: 550px) {
    
}